.jumbotron {
  text-align: center;
  background-color: teal;
  color: whitesmoke;
}

.selfie {
  height: 200px;
  float: left;
  border-radius: 6px;
}

.about-me {
  color: darkslategrey;
  text-align: right;
  border-radius: 6px;
  background-color: lightgrey;
}

.about-me > p, li {
  font-size: 1.5rem;
}

li {
  list-style: none;
}

h4, h2 {
  font-weight: bold;
}

.panel-heading {
  background-color: darkseagreen;
  color: white;
}

.panel-body {
  color: darkslategray;
}

.well {
  background-color: teal;
  color: whitesmoke;
}

.github > h2 {
  background-color: darkslategray;
  color: lightgrey;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
}