p, li {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.7rem;
}

.jumbotron {
  text-align: center;
  background-color: teal;
  color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
}

.selfie {
  height: 200px;
  float: right;
  border-radius: 6px;
  margin: 10px;
}

.about-me {
  color: darkslategrey;
  text-align: left;
  border-radius: 6px;
  background-color: lightgrey;
  width: 100%;
}

.read {
  color: teal;
  font-weight: bold;
}

li {
  list-style: none;
}

h3, h2 {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.panel-heading {
  background-color: rgb(103, 155, 103);
  color: white;
}

.panel-body {
  color: darkslategray;
}

.github h2 {
  background-color: darkslategray;
  color: lightgrey;
  border-radius: 6px;
  padding: 12px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.well {
  background-color: teal;
  color: whitesmoke;
}

.well a {
  color: whitesmoke;
}