/* GLOBAL STYLES */
body {
  background-color: #e9f4df;
}

p, li, a {
  font-family: 'Lora', serif;
  font-size: 1.1rem;
  font-weight: 300;
}

a {
  color: rgb(2, 129, 129);
  font-weight: 500;
}

a:hover {
  color: rgb(2, 96, 96);
}
   
h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

h2 {
  text-align: center;
  margin: 4rem 0 1rem 0;
  /* responsive font sizes */
  font-size: clamp(2rem, 4vw, 2.5rem); 
  color: #026060;
}

h3 {
  font-size: clamp(1.5rem, 3vw, 2rem);
  margin-bottom: .75rem;
}

.card {
  padding: 1.5rem 1rem 1rem 1rem;
  margin: 1rem .5rem;
  border: 0;
  border-radius: 1.15rem;
  box-shadow: 0 .4rem 1rem rgba(0,0,0,.15)
}



/* PAGE HEADER */
.jumbotron {
  text-align: center;
  background-color: #026060;
  color: #e9f4df;
  width: 100%;
  border-radius: 0;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  letter-spacing: .25rem;
  font-size: clamp(2.5rem, 5vw, 3.75rem);
 }

 .jumbotron span {
   /* font-family: 'PT Serif', serif; */
   font-family: 'Montserrat', sans-serif;
   font-size: 1.3rem;
   font-weight: 300;
   letter-spacing: .1rem;
   color: #faeeab;
 }



/* INTRO SECTION */

/* .selfie {
  height: 200px;
  border-radius: 6px;
  margin: 10px;
} */

.intro .card {
  color: #1d4644;
  text-align: left;
  background-color: rgb(190, 217, 182);
  padding: 1.5rem 2rem;
  margin: 0;
}



/* SKILLS SECTION */
.skills {
  background-color: rgb(130, 190, 163);
  color: #1b413f;
}

.skills h3 {
  text-align: center;
}



/* PROJECT SECTION */
.project {
  background-color: rgb(38, 127, 127);

}

.project a {
  color: #e5f4d7;
}

.project a:hover {
  text-decoration: none;
}

.project:hover {
  background-color: rgb(1, 79, 79);
  transform: translateY(-4px);
  box-shadow: 0 .4rem .8rem rgba(0,0,0,.2);
  transition: all .4s ease;
}



/* BACKGROUND SECTION */
.history {
  background-color: rgb(2, 85, 85);
  color: #e5f4d7;
}

.history h3 {
  color: #faeeab;
  
}

.history a {
  color: rgb(146, 223, 188);
}

.history a:hover {
  color: rgb(100, 180, 144);
}


/* FUN SECTION */
.personal .card {
  background-color: #1d414c;
  color: #e5f4d7;
}

.personal a {
  color: rgb(137, 209, 177);
}

.personal a:hover {
  color: rgb(94, 169, 135);
}

/* CONTACT ME SECTION */
.contact {
  margin-bottom: 4rem; 
}

.contact-links {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}

.contact-links a {
  font-family: "Montserrat", sans-serif;
}



/* FOOTER */
.footer {
  background-color: rgba(108, 168, 141, 0.7);
  width: 100%;
  padding: 2rem 0;
  text-align: center;
  color: #193841;
  font-family: 'Montserrat', sans-serif ;
}



/* MEDIA QUERIES */
@media (max-width: 520px) {
  /* .selfie {
    justify-self: center;
  } */
}

@media (min-width: 521px) {
  /* .selfie {
    float: right;
  } */
}